nav{
	text-decoration: none;
	text-align: center;
	background-color: #800001;
	color: black;
	font-size: 1.5em;
}
body{
  background-color: black;
}
main{
  background-color: black;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.album{
  width: 400px;
  height: 400px;
  float: left;
}
.bio{
  color: white;
}
.photos{
  width: 300px;
  height: 300px;
}
.albumname{
  color: white;
  text-align: center;
  float: right;
}
.bandcamp{
  text-decoration: none;
  color: black;
  background-color: #800001;
}
.spotifybutton{
  text-decoration: none;
  color: black;
  background-color: #800001;
}
.youtubebutton{
  text-decoration: none;
  color: black;
  background-color: #800001;
}
.bandcamp a:hover{
  color: white;
}
.spotifybutton a:hover{
  color: white;
}
.youtubebutton a:hover{
  color: white;
}
ul.social{
    display: block;
    list-style: none;
    color: white;

}
ul.social li{
  display: inline;
  font-size: 1.5em;
}
ul.social li a{
  color: #666;
}


ul.social li.instagram a:hover{
  color: rgb(81,127,237);
}
ul.social li.youtube a:hover{
  color: rgb(187,0,0);
}

ul.social li.spotify a:hover{
  color: green;

}
footer{
  color: white;
}